{% extends "base.html" %}
{% block content %}
<h1>Jobs</h1>
{% for job in jobs.items %}
<div class="job">
    <h4>{{ job.jid}} {{ job.title }}</h4>
    <ul>
        <li>Description: {{ job.description }}</li>
        <li>Rate: {{ job.rate }}</li>
    </ul>

</div>
{% endfor %}
{% if jobs.has_prev %}<a href="{{ url_for('jobs', page=jobs.prev_num) }}">&lt;&lt; Previous Jobs</a>{% else %}&lt;&lt; Previous Jobs{% endif %} | 
{% if jobs.has_next %}<a href="{{ url_for('jobs', page=jobs.next_num) }}">More Jobs &gt;&gt;</a>{% else %}More Jobs &gt;&gt;{% endif %}
<br>
<p><a href="{{ url_for('post_job') }}">Post a Job</a></p>
{% endblock %}
                      
